body {
    margin: 1rem 0;
}

main {
    width: 80%;
    text-align: center;
    margin: auto;
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
}

.achievement-card {

}

.achievement-card > .achievement-card-title {
    font-weight: bold;
}
.achievement-card > .achievement-card-requirement {
    
}

#dayToggleBtn {
    width: 50%;
    max-width: 350px;
}

#toggleTodayBtn, #toggleTomorrowBtn {
    min-width: 100px;
}